<div class="container">
    <p>&copy; 2025 Statistical & Probability Calculator | Created for Educational Purposes</p>
    <div class="resources">
        <h4>Learning Resources:</h4>
        <ul>
            <li><a href="https://www.khanacademy.org/math/statistics-probability" target="_blank">Khan Academy</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Statistics" target="_blank">Wikipedia Statistics</a></li>
            <li><a href="https://www.youtube.com/results?search_query=statistics+tutorial" target="_blank">YouTube Statistics Tutorials</a></li>
        </ul>
    </div>
</div>